# Entornos virtuales
venv/
.env
__pycache__/
*.pyc
*.pyo
*.pyd
# Archivos de configuración locales
.env.*
# Archivos de bases de datos temporales
*.sqlite3
# Archivos de logs
*.log
# Archivos de datos temporales
*.tmp
# Archivos de Jupyter
*.ipynb_checkpoints
# Archivos de sistema
.DS_Store
Thumbs.db
